
@font-face {
	font-family:"corki";
	src:local("corki") url("./font/Corki_Rounded_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki_Rounded.otf") format("truetype");
	src:local("corki") url("./font/Corki_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki.otf") format("truetype");
	
}

body 
{
	text-align:center;
	font-family:"FOT-スーラ Pro UB";
	font-size:1.5em;
}

.header
{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top right, #333333 0%, #222222 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top right, #333333 0%, #222222 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top right, #333333 0%, #222222 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #333333), color-stop(1, #222222));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top right, #333333 0%, #222222 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom left, #333333 0%, #222222 100%);

}

.header_title
{
	padding:15px 20px 12px;
	text-align:center;
}

input[type="text"]
{
	padding:4px !important;
	font-size: x-large !important;
	height:auto !important ;
	background:#F0F0F0 !important;
}

input[type="text"]:focus
{
	background: #B6E9EF !important; 
	box-shadow:0px 0px 5px #aaa !important;
}

#name
{
	height:50px;	
}

/*--------box------------------*/
.box 
{
	position: relative;
	background: #84d5d2;
	border: 8px solid #c2e1f5;
	padding:20px 20px 0 20px;
	/*position setting*/
	max-width:350px;	
	margin: 0 auto;	
	/**/
	border-radius:50px;
}

.box_header
{
	color:#666666;
	font-weight:bold;
	margin:10px 0;
	padding:5px 0 5px 10px;
	text-align:left;
	text-shadow:1px 1px 1px #FFFFFF;
	width:100%;
}
/*--------point-----------------*/
.poll
{
	min-height: 200px;
	
}
.point
{
	margin: 3%;
}
.loader
{
	display:none;
}
.result
{
	font-family:"corki";
	font-size:3em;
	font-weight:"bold";
	padding-top:80px;
	display:none;
}
ul.pointtable
{
	list-style:none;
	overflow:hidden;
	/*height:115px;*/
	width:100%;
	margin:0;
}
ul.pointtable li
{
	float:left;
	margin:0 20px 10px;
	width:20%;
}

input[type="button"]
{
	padding:10px;
	font-size:1.5em;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	border-radius:60px;	
}

#submit
{
	margin:20px 0 30px 0;
	
}

/*--------tab------------------*/
.tab
{
	padding: 10px 0;
}

ul.tablist
{
	list-style:none;
	overflow:hidden;
}

ul.tablist li
{
	float:left;
	position:relative;
	margin:0px 4px 4px 0;

	display:block;
	height:20px;
	width:30px;
	color:#777;
	font-size1.5em;
	padding:10px 20px;
	border-radius:5px;
	border-right:1px solid #fff;
    border-left:1px solid #fff;
	box-shadow:0 0 3px #AAAAAA;
	background-color:#444;
    background:#f0f0f0;
    background:
        -webkit-gradient(
	        linear,
	        left bottom,
	        left top,
	        color-stop(0.09, rgb(240,240,240)),
	        color-stop(0.55, rgb(227,227,227)),
		    color-stop(0.78, rgb(240,240,240))
	    );
    background:
        -moz-linear-gradient(
	        center bottom,
	        rgb(240,240,240) 9%,
	        rgb(227,227,227) 55%,
	        rgb(240,240,240) 78%
        );

}
.selected
{
    background:#d8d8d8 !important;
	color:#666 !important;
    text-shadow:1px 1px 1px #fff !important;
}


