
@font-face {
	font-family:"corki";
	src:local("corki") url("./font/Corki_Rounded_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki_Rounded.otf") format("truetype");
	src:local("corki") url("./font/Corki_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki.otf") format("truetype");
	
}

body 
{
	text-align:center;
	font-family:"FOT-スーラ Pro UB";
	font-size:1.5em;
}

.header
{
	background: rgba(0, 0, 0, 0.6);
	border-bottom:2px solid rgba(255, 255, 255, 0.6);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}

.header_title
{
	padding:15px 20px 12px;
	text-align:center;
}

/*--------box------------------*/
.box 
{
	position: relative;
	background: #84d5d2;
	border: 8px solid #c2e1f5;
	padding:20px;
	/*position setting*/
	max-width: 250px;
	
	margin: 0 auto;	
	border-radius:50px;
	/*得点の部分を隠すため*/
    overflow-x:hidden;
    box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -o-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -ms-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;

}

.point_header
{
	color:#666666;
	font-weight:bold;
	margin:10px 0;
	padding:5px 0 5px 30px;
	text-align:left;
	text-shadow:1px 1px 1px #FFFFFF;
	width:100%;
}
/*--------point-----------------*/
.step
{
	overflow:hidden;
}
.point
{
	margin-bottom: 1%;
}
.poll
{
	min-height: 200px;
}
.loader
{
	display:none;
}

.result
{
	font-family:"corki";
	font-size:2.5em;
	font-weight:"bold";
	display:none;
}

.retry
{
	box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-o-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-ms-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;

}
/*--------tab------------------*/
.tab
{
	list-style: none;
}

.tab_selected
{
	float:left;
	position:relative;
	margin:0 10px;
	display:block;
	color:#777;
	font-size:1.5em;
	/*
	border-radius:5px;
	border-right:1px solid #fff;
    border-left:1px solid #fff;
	box-shadow:0 0 3px #AAAAAA;
	background-color:#444;
    background:#f0f0f0;
    background:
        -webkit-gradient(
	        linear,
	        left bottom,
	        left top,
	        color-stop(0.09, rgb(240,240,240)),
	        color-stop(0.55, rgb(227,227,227)),
		    color-stop(0.78, rgb(240,240,240))
	);
    background:
        -moz-linear-gradient(
	        center bottom,
	        rgb(240,240,240) 9%,
	        rgb(227,227,227) 55%,
	        rgb(240,240,240) 78%
    );
    */

}
.selected
{

}

/*---------------------------*/
.slider_bar
{
    position:relative;
    width:25px;
    margin-left: 50%;
    background-color: #fbfff8;
    border: 5px solid #E6F5DC;
    border-radius: 20px;
    box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #5390C6 0 .1em 3px, #336999 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #5390C6 0 .1em 3px, #336999 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #5390C6 0 .1em 3px, #336999 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -o-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #5390C6 0 .1em 3px, #336999 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
    -ms-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
    			/* inner shadow */ #5390C6 0 .1em 3px, #336999 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
}

.slider_active
{
    background-color: #80C4FF;
    border: 5px solid #80C4FF;
    border-radius: 20px;
}

.slider_btn
{
    left: -10px;
    position:absolute;
    display:block;
    border: none;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    /*背景*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(50%,#bbb), color-stop(100%,#999)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top,  #999 0%, #bbb 50%, #999 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #999 0%,#bbb 50%,#999 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #999 0%,#bbb 50%,#999 100%); /*Opera*/
    
    /*box-shadow*/
    box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-o-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-ms-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	
}

.slider_submit
{
	box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-o-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-ms-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #6BAD1F 0 .1em 3px, #508217 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
}
/*---------------------------*/
.upload
{
	margin:4px;
	float: left;
	width: 10px;
	height: 10px;
	border: 4px solid #555;
	border-left-color: transparent;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
	-ms-border-radius: 22px
}

.upload::before
{
	position: relative;
	float: left;
	top: -6px;
	left: -6px;
	content: '';
	width: 0;
	height: 0;
	float: left;
	border: 6px solid transparent;
	border-left-color: #555;
	border-bottom-color: #555
}

/*---------------------------*/
.prev
{
	margin-left: 5px;
	max-width: 60px;
	float: left;
	border-right-color: #555;
	background-color:#444;
    background:#f0f0f0;
    border-radius: 20px;
	box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-o-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-ms-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
}

.next
{
	max-width: 60px;
	float: left;
	border-left-color: #555;
	background-color:#444;
    background:#f0f0f0;
    border-radius: 20px;    
	box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-o-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
	-ms-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, 
				/* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
}

.prev_arrow{
	width: 0;
	height: 0;
	float: left;
	border-style: solid;
	border-color: transparent;
	border-right-color: #555;
	border-width: 16px;
	margin-top:5%;
}

.prev_arrow::before{
	position: relative;
	content: '';
	top: -8px;
	left: 16px;
	float: left;
	width: 14px;
	height: 16px;
	background: #555;
	border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
	-o-border-radius: 0 2px 2px 0;
	-ms-border-radius: 0 2px 2px 0;
}

.next_arrow{
	width: 0;
	height: 0;
	float: left;
	border-style: solid;
	border-color: transparent;
	border-left-color: #555;
	border-width: 16px;
	margin-left: 50%;
	margin-top: 5%;
}

.next_arrow::before{
	position: relative;
	content: '';
	top: -8px;
	left: -30px;
	float: left;
	width: 14px;
	height: 16px;
	background: #555;
	border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	-o-border-radius: 2px 0 0 2px;
	-ms-border-radius: 2px 0 0 2px
}
