@font-face 
{
	font-family: "corki";
	src:local("corki") url("./font/Corki_Rounded_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki_Rounded.otf") format("truetype");
	src:local("corki") url("./font/Corki_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki.otf") format("truetype");
	
}

body
{
	text-align:center;
	font-family: "FOT-スーラ Pro UB";
	text-shadow: 0 2px 2px white;
	margin-left:auto;
	margin-right:auto;
}


/*
 *
 */
.header
{
	background: rgba(0, 0, 0, 0.6);
	border-bottom:2px solid rgba(255, 255, 255, 0.6);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);

}
.header_title
{
	padding:15px 20px 12px;
	text-align:center;
	font-size:3em;
}

div#container 
{
    position: relative; 
}

.title
{
	font-size:3em;
	padding:5% 0;
	overflow:hidden;
}

.audience
{
	border: 2px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 3px 3px 2px rgba(0,0,0,0.42);
	padding: 10px;
	background-color: #DCEAF4;
}

/*
 *タブでのスタートストップ
 */
#start
{
	padding: 10px;	
	border-radius: 5em 2em / 5em 2em;
	font-size:2em;	
}
#start.blue
{
	background-color: #80C4FF;
	box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em,
				#5390C6 0 .1em 3px, #336999 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px;
}
#start.red
{
	background-color: #FF80AA;
	box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em,
				#D92662 0 .1em 3px, #B8144B 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px;
}

/*
 *　得点
 */
ul.point 
{
	list-style: none;
	width:100%;
	max-width: 200px;
	margin:auto;
	/*height:80%;
	/*margin:10%;*/
	/*background-color:#abd6e0;
	background-color:#EFA907;*/
	padding-top:4px;
	padding-bottom:4px;
	border-radius:5px;
	
}

ul.point li 
{
	/*float: left;*/
    text-align: center;
	font-size:1.5em !important;
}

/*
 *　得点色 
 */
.def
{
	height: 20px;
	margin-top:1px;
	padding-top:4px;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	font-weight: bold;
	border: 4px solid #7d7d7d;

}

.gray
{
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #D6D5D6 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #D6D5D6));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #D6D5D6 100%);
	color:#a19999;
}

.yellow{
	/*background: #FFFFFF;*/
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #efe813 0%, #EFEA60 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0,#efe813), color-stop(1, #EFEA60));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #efe813 0%, #EFEA60 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 448, color-stop(0, #EFC34A), color-stop(1, #FFFAB8));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-corner, #EFC34A 0%, #FFFAB8 100%);
	color:#000000;
}
.red{
	/*background: #FFFFFF;*/
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #FF80AA 0%, #EF5858 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-side, #FF80AA 0%, #EF5858 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FF80AA), color-stop(1, #EF5858));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FF80AA 0%, #EF5858 100%);
	color:#000000;
}

/*
	合計得点など
*/

.audienceCount
{
	font-size:5em;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

/*
	ランキング
*/
#rank_header li
{
	margin-left: 5%;
}

#rank_header .rank_head_ave
{
	margin-left:0;
	height: 60px;
}

#rank_table
{
	text-align: left;
}

#rank_table tr
{
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	border: whiteSmoke solid 4px;;
}

.rank_number
{
	float: left;
	color: rgba(0,0,0,0.6);
	text-shadow:2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
}

.rank_name
{
	text-shadow: 8px 8px 0 rgba(255,0,180,0.5);
}

.rank_ave
{
	text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;
}
.rank_name,.rank_ave , .rank_cnt
{
	float: left;
	margin-left:5%;
}
#Point
{
	background-color: black;
	color: white;
}
