@font-face 
{
	font-family: "corki";
	src:local("corki") url("./font/Corki_Rounded_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki_Rounded.otf") format("truetype");
	src:local("corki") url("./font/Corki_Tuscan.otf") format("truetype");
	src:local("corki") url("./font/Corki.otf") format("truetype");
	
}

body
{
	text-align:center;
	/*font-family: "corki";*/
	color:#EF4943;
	margin-left:auto;
	margin-right:auto;
}

/* background */
img.bg
{
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	/* またはabsolute; */
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px)
{
	img.bg {
    	left: 50%;
  		margin-left: -512px; 
	}
}

.header_title
{
	padding:15px 20px 12px;
	text-align:center;
	font-size:3em;
}

div#container 
{
    position: relative; 
}

.title
{
	font-size:3em;
	padding:5% 0;
	overflow:hidden;
}

.time
{
	display:none;
	padding:10%;
	color:#000000;
	font-size:5em;
	font-weight:bolder;
}

/* 得点のテーブル*/
ul#point 
{
	list-style: none;
	width:100%;
	margin:auto;
	/*height:80%;
	/*margin:10%;*/
	background-color:#abd6e0;
	background-color:#EFA907;
	padding-top:4px;
	padding-bottom:4px;
	border-radius:5px;
}

ul#point li 
{
	/*float: left;*/
    text-align: center;
	font-size:1.5em !important;
}

/*得点の部分 */
.def
{
	margin-top:1px;
	padding-top:4px;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	font-weight: bold;
	border: 4px solid #7d7d7d;
}

.gray
{
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #D6D5D6 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #D6D5D6));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #D6D5D6 100%);
	color:#a19999;
}

.yellow{
	/*background: #FFFFFF;*/
	/* Mozilla Firefox / 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #efe813 0%, #EFEA60 100%);
	/* Webkit (Safari/Chrome 10) / 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0,#efe813), color-stop(1, #EFEA60));
	/* Webkit (Chrome 11+) / 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #efe813 0%, #EFEA60 100%);
	*/
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 448, color-stop(0, #EFC34A), color-stop(1, #FFFAB8));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-corner, #EFC34A 0%, #FFFAB8 100%);
	color:#000000;
}
.red{
	/*background: #FFFFFF;*/
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #EF5858 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #EF5858 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #EF5858));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EF5858 100%);
	color:#000000;
}

.sum{
	font-size:5em;	
}

